@import '../../_sass/abstracts/index';

.supervisor-fiche {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 80px;
	padding-right: 40px;

	h1 {
		font-size: 38px;
		color: $color-gray;
	}
	&__filter {
		padding-bottom: 20px;
		width: 100%;

		&-search {
			width: 45%;
			border: 2px $color-gray solid;
			border-radius: 20px;
			padding: 5px;
			display: flex;
			align-items: center;

			svg {
				color: $color-gray;
				margin: 5px;
				margin-left: 15px;
			}
			input {
				border: none;
				margin-left: 10px;
				width: 80%;
				font-size: 14px;
				padding: 5px;
			}
		}
	}

	&__content {

	}
}
