@import '../../_sass/abstracts/index';

.supervisor-container{
    overflow: hidden;
}

.supervisor-dialog{
    width: 1040px;
    margin: auto;
    margin-top: 80px;
    position: relative;
}

.blueBoxContainer{
    background-image: url("../../assets/blueBox.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 370px;
    height: 244px;
    float: left;
    margin-top: 200px;
}

.yellowBoxContainer{
    background-image: url("../../assets/yellowBox.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 280px;
    float: left;
}

.redBoxContainer{
    background-image: url("../../assets/redBox.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 370px;
    height: 244px;
    float: left;
    margin-top: 200px;
}

.redBox{
    margin-left: 85px !important;
}

.dialogBox{
    margin: 35px 15px;
    height: 170px;
    border-radius: 30px;
    padding: 20px;
    resize: none;
    border: none;
    background-color: transparent;
}

.dialogTitle{
    margin: -20px 35px;
}

.redDialogTitle{
    margin: -20px 95px;
}

#dialogAnimation{
    position: absolute;
    width: 280px;
    left: 388px;
    top: 290px;
}

.dialogBtn{
    background-color: #ADA39F;
    border-radius: 30px;
    color: white;
    padding: 15px 60px;
    text-decoration: none;
    width: 85px;
}

.backBtn{
    position: absolute;
    left: -40px;
    top: 20px;
}

.saveBtn{
    position: absolute;
    right: -40px;
    top: 20px;
    background-color: #93B993;
}