@import '../../_sass/abstracts/index';

.admin-fiche {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 30px; 

	h1 {
		font-size: 38px;
		color: $color-gray;
	}
	&__filter {
		padding-bottom: 20px;
		width: 100%;
		margin-left: 60px;

		&-search {
			width: 45%;
			border: 2px $color-gray solid;
			border-radius: 20px;
			padding: 5px;
			display: flex;
			align-items: center;

			svg {
				color: $color-gray;
				margin: 5px;
				margin-left: 15px;
			}
			input {
				border: none;
				margin-left: 10px;
				width: 80%;
				font-size: 14px;
				padding: 5px;
			}
		}
	}

	&__content {
		margin-left: 60px;

	}
}
