@import '../../_sass/abstracts/index';

.mountainPoint{
	background-color: red;
	border-radius: 20px;
	width: 20px;

}

.mountainPoint{
	height: 20px;
}

.textBox{
	background-color: white;
	color: #000;
	width: 300px;
	position: relative;
	padding: 20px;
	top: -170px;
	left: -150px;
	z-index: 2;
	border-radius: 10px;
	box-shadow: 0px 2px 19px 2px rgba(0,0,0,0.51);
	-webkit-box-shadow: 0px 2px 19px 2px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 2px 19px 2px rgba(0,0,0,0.51);
}

.opinionBox{
	
	top: -410px;
	overflow: hidden;

}

.textBox:after {
	content: " ";
	position: absolute;
	right: 165px;
	bottom: -15px;
	border-top: 15px solid white;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: none;
  }

.textbox h4{
	font-weight: normal !important;
}

.textBox h1{
	color: #000;
	font-size: 1.7em;
	font-weight: normal !important;
}

.textBox .cross{
	position: relative;
	top: -50px;
	float: right;
	cursor:pointer;
}

.vlag{
	width: 50px;
	position: relative;
	top: -40px;
	left: 9px;
	display: none;
}

.bergPad{
	background-image: url("BERGBG.svg");
}

.myButton {
	background-color:#93B993;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:0px 0px;
	width: 200px;
	text-align: center;
	margin-left: 18%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.bergGesprek{
	margin: 20px 100px;
}

.gesprek-container{
	width: 200px;
	position: absolute;
    top: 65px;
    left: 330px;
	width: 540px;
}

.berg-gesprek-field{
	width: 540px;
	height: 120px;

}

.opinionBtn{
	cursor: pointer;
	opacity: 0.5;
}

.opinionBtn:hover{
	opacity: 1;
}

.opinionBtn_left{
	float: left;
}

.opinionBtn_right{
	float: right;
}

.mountainAnimation{
	position: absolute;
	left: 0;
	top: 0;
}