$color-white: #FFFFFF;
$color-light-gray: #EFEFEF;
$color-gray: #707070;
$color-text: #484646;

$color-01: #93B993;
$color-01-dark: #87B08A;
$color-02: #e06e6a;
$color-03: #7ed5e5;
$color-04: #E89BC4;

$skintone-brown: #964B14;
$skintone-orange: #E47524;
$skintone-pink: #F7AD8A;
$skintone-pale: #F2CCBA;

// login
$blue: #008BB4;

/*****************************/
