$color-white: #FFFFFF;
$color-light-gray: #EFEFEF;
$color-gray: #707070;
$color-text: #484646;

$color-01: #93B993;
$color-01-dark: #87B08A;
$color-02: #e06e6a;
$color-03: #7ed5e5;
$color-04: #E89BC4;

$skintone-04: #462E24;
$skintone-03: #8C6537;
$skintone-02: #CE9D61;
$skintone-01: #E6B190;

$color-note: #fff9c3;
$color-login: #71eb58;
$color-background_dashboard: #CCE5E3;

// login
$blue: #008BB4;

/*****************************/
